
.pirate-container_big{   
    font-family: 'Bunya Personal', sans-serif;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: white;
    text-align: center;
    overflow: hidden; 
    padding-left: 5vw;
    padding-right: 5vw;
}

.pirate-title {
    justify-content: flex-start;
    display: flex;
    margin-left: 0;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 0px;
    margin-top: 7rem;
    font-family: 'Bunya Personal', sans-serif; /* Fallback to sans-serif */
}


.pirate-description {
    margin-right: 10rem !important;
    text-align: left;
    font-size: 1.7rem;
    margin: 4rem 0;
    font-family: 'Bunya Personal', sans-serif; /* Fallback to sans-serif */
}
@font-face {
    font-family: 'Bunya Personal';
    src: url('src/assets/SF Old Republic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.escape-room {
    display: flex;
    align-items: center;
    max-width: 90%;
    max-height: 60%;
}
.highlight {
    font-weight: bold;
    color: #F26422;
}
.logo {
    width: 1.5vw; /* Adjust size as needed */
    height: 1.5vw;
    margin-right: 8px; /* Space between image and text */
    vertical-align: left;
    border: 0px;
    margin-top: 1px;
     /* Aligns the logo with the text */
}


.img {
    margin-top: 1px;
    box-shadow: 0 0 12px rgba(242, 100, 34, 0.7), 0 0 24px rgba(242, 60, 0, 0.5); 
    border-radius: 30px;
    height: auto;
    max-width: 55%;
    border: 1px solid #F26422;
    margin-right: 0.5vw;
}

.details {
    /*max-height: 500px;*/
    list-style-type: none;
    padding: 0;
    margin-left: 7vw;
    text-align: left;
    /*max-width: 500px;*/
}
.details h2 {
    margin:1px;
    font-size: 2vw; /* Optional: Adds space below headings */
}
.details h3{
    margin-top: 1px;
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 1px;
}
.chapter-arrow {
    color: #ffff; /* Arrow color matching the theme */
    font-size: 1.5rem; /* Adjust the size of the arrow */
    margin: auto;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    
}
parent-container-arrow{
    margin-top: 1px;
    margin-bottom: 5px;
}
.details ul {
    display:flex;
    text-align: left;
    list-style-type: none;
    padding: 0;
    gap: 1vw;
    margin-top: 1px;
    
}

.details li{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 0.875rem;
    border:1px solid #F26422;
    margin: 10px 0;
    background-color: #252525; /* Button background color */
    color: white; /* Button text color */
    padding: 5px 15px; /* Spacing inside the button */
    border-radius: 45px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: left; /* Center the text */
    transition: background-color 0.3s; /* Smooth hover transition */
    white-space: nowrap;
    max-width: 100%;
    align-items: center;
}
.info-list li {
    font-family: 'Bunya Personal', sans-serif; /* Fallback to sans-serif */
    flex-basis: 30%;
    display: flex;
    align-items: center; /* Vertically center items */
    flex-direction: row; /* Horizontal layout */
    gap: 10px; /* Spacing between logo and text */
    font-size: 1.5rem;
    border: 1px solid #F26422;
    background-color: #252525;
    color: white;
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    margin: auto;
    text-align: left; /* Align text to the left */
    transition: background-color 0.3s;
    white-space: nowrap;
}
.info-list {
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding-left: 20px;
    list-style-type: none;
    padding: 0;
    margin-top: 4rem ;
    margin-left: 0rem;
    text-align: left;
    gap: 3vw;
    max-width: 50vw;
}

.starOrange{
    color: #F26422;
    border: #000;
}
.starBlack{
    color: #000;
}
.reserve-button {
    font-family: 'Bunya Personal', sans-serif;
    box-shadow: 0 0 12px rgba(242, 100, 34, 0.7), 0 0 24px rgba(242, 60, 0, 0.5);
    display: flex;
    justify-content: center;
    background-color: #F26422;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 45px;
    font-size: 1.2em;
    margin: 20px;
}
.button-container {
    display: flex;
    justify-content: center; /* Centre tout contenu enfant horizontalement */
    align-items: center; /* Centre le contenu verticalement si nécessaire */
}


/* Hide the navbar on mobile devices (screens smaller than 768px) */
@media only screen and (max-width: 1000px) {
    .pirate-container_big {
        display:none;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: white;
        text-align: center;
        overflow: hidden;
        padding: 0%;
    }
    .reserve-button{
        position: fixed;
        bottom: 35px;
    }
    
    .pirate-title {
        padding-top: 4rem;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
        padding-bottom: 0px;
        margin-top: 1rem;
        margin-left: 10vw;
    }
    .details h2 {
        margin-bottom: 10px; /* Optional: Adds space below headings */
    }
    
    .pirate-description {
        background-color: rgba(17, 17, 17, 0);
        text-align: center;
        font-size: 1.2rem;
        margin: 40px 15vw !important;
        font-family: 'Bunya Personal', sans-serif; /* Fallback to sans-serif */
       padding-bottom: 15rem;
    }
    @font-face {
        font-family: 'Bunya Personal';
        src: url('src/assets/SF Old Republic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    
    .escape-room {

        display: flex;
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center them horizontally */
    margin-top: 1rem;
    max-width: 90%;
    }
    .highlight {
        font-weight: bold;
        color: #F26422;
    }
    .logo {
        width: 4vw; /* Adjust size as needed */
        height: 4vw; /* Space between image and text */
        vertical-align: center;
        border: 0px;
        align-items: center;

         /* Aligns the logo with the text */
    }
    
    
    .img {
        box-shadow: 0 0 12px rgba(242, 100, 34, 0.7), 0 0 24px rgba(242, 60, 0, 0.5); 
        border-radius: 30px;
        height: auto;
        max-width: 80%;
        border: 1px solid #F26422;
        margin-top: 2px;
        margin-bottom: 20px;
    }
    
    .details {
        flex-direction: column;
        max-height: 140vh;
        list-style-type: none;
        padding: 0;
        text-align: center;
        max-width: 90vw;
        margin: auto;
        display: flex;
        justify-content: center;  /* Centers horizontally */
        align-items: center; 
    }
    .details h2 {
        margin:3px;
        font-size: 6vw; /* Optional: Adds space below headings */
    }
    .details h3{
        margin:3px;
        font-size: 4vw;
    }
    
    .chapter-arrow {
        margin-bottom: 10px;
        color: #ffff;
        font-size: 1.5rem;
    }
    
    
    .info-list {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        list-style-type: none;
        gap: 3vw;
        max-width: 100vw;
    }
    .details ul {
        display:flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        justify-content: center;
        gap: 1vw;
        margin: 0 auto;
    }
    
    .details li{
        
        margin: 0 auto;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        border:1px solid #F26422;
        color: white; /* Button text color */
        padding: 5px 15px; /* Spacing inside the button */
        border-radius: 45px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        text-align: center; /* Center the text */
        transition: background-color 0.3s; /* Smooth hover transition */
    }
    .pirate-container_big{
        background-attachment: fixed;
        background-image: url('assets/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        color: white;
        text-align: center;
        overflow: hidden;
    
    }
    .info-list li {
        border: #ffff 1px solid ;
        flex-basis: 30%;
        display: flex;
        align-items: center; /* Vertically center items */
        flex-direction: row; /* Horizontal layout */
        gap: 10px; /* Spacing between logo and text */
        font-size: 1rem;
        border: 1px solid #F26422;
        background-color: #252525;
        color: white;
        padding: 15px 50px;
        border-radius: 45px;
        cursor: pointer;
        text-align: left;
        margin: auto; /* Align text to the left */
        transition: background-color 0.3s;
    }
    .starOrange{
        color: #F26422;
        border: #000;
    }
    .starBlack{
        color: #000;
    }
    .reserve-button {
        box-shadow: 0 0 12px rgba(242, 100, 34, 0.7), 0 0 24px rgba(242, 60, 0, 0.5);
        background-color: #F26422;
        color: white;
        padding: 20px 40px;
        border: none;
        cursor: pointer;
        border-radius: 45px;
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 10vh; /* Ajoutez un peu d'espace en bas */
        display: flex;
        justify-content: center; /* Centre horizontalement le contenu */
        align-items: center; /* Centre verticalement le contenu */
        margin-left: auto;
        margin-right: auto; /* Centrage horizontal avec flexbox */
    }
    .button-container {
        display: flex;
        justify-content: center; /* Centre tout contenu enfant horizontalement */
        align-items: center; /* Centre le contenu verticalement si nécessaire */
    }
    
    
    
}
